USE [ForumExample]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 7/12/2019 5:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RowPosition] [int] NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([Id], [RowPosition], [FirstName], [LastName]) VALUES (1, 1, N'Justin', N'Bender')
INSERT [dbo].[Person] ([Id], [RowPosition], [FirstName], [LastName]) VALUES (2, 2, N'Pedro', N'Mac Donald')
INSERT [dbo].[Person] ([Id], [RowPosition], [FirstName], [LastName]) VALUES (3, 3, N'Charity', N'Mahoney')
GO
SET IDENTITY_INSERT [dbo].[Person] OFF
